@import url("~leaflet/dist/leaflet.css");
.leaflet-container {

  width: 100%;
  height: 100vh;
}
.search_box{
  padding: 30px;
  display: flex;
  position: fixed;
  bottom: 0px;
  z-index: 999;

}

#search_input{
  width: 350px;
  height: 30px;
  border-radius: 25px 0px 0px 25px ;
  text-align: center;
  position: relative;
  z-index: 1;
}

#search_button{
  height: 35px;
  /* width: 40px; */
  border-radius:  0px 25px 25px 0px;
}


@media (max-width: 568px) {
  #search_input {
    max-width: 250px; 
  }
}






.ref_btn{
  position: fixed;
  right: 30px;
  bottom: 40px;
  z-index: 999;
}
.refresh_btn{
  border: none;
  background: transparent;
}
.refresh_btn img{
  width: 30px;
  height: 30px;
  /* transform: rotate ? 'rotate(360deg)' : 'rotate(0deg)' */
  
  
}
.refresh_btn img:hover{
  transform: rotateX('360deg');
}
.transformation {
  transform: rotate(360deg) scale(1);
  transition: transform 1s ease-in-out; /* Specify the transition property: transform, duration: 2s, timing function: ease */
}

.leaflet-marker-icon {
  width: 50px; /* Adjust the width of the marker icon */
  height: 50px; /* Adjust the height of the marker icon */
}

/* Add styles for marker popups */
.leaflet-popup-content {
  width: auto; /* Adjust the width of the popup content */
  height: auto; /* Adjust the height of the popup content */
  padding: 10px; /* Add padding to the popup content */
}